#start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    background-color: black;
    color: white;
}

footer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/images/fundo-escuro-tuffo.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

#creating-div {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 71%;
    background-image: url("/images/fundo-claro-tuffo.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.creating {
    color: black;
    font-size: 70px;
}