<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Task manager</title>
        <link rel="stylesheet" href="/css/index.css">

    </head>
    
    <body>

        <main>
            <section id="start">

                <h1 id="main-message">Task manager</h1>
                <p id="main-support">This website is made for you organize your tasks!</p>

            </section>

            <section id="create-view-task">

                <div id="creating-div">
                    <p id="message" class="creating">New task!</p>
                    <button id="create" class="creating">
                        <img src="/images/Create-icon.webp" alt="Create-icon">
                    </button>
                </div>

            </section>

        </main>

        <footer id="footer">

            <p class="footer-info">Made by: Miguel</p>
            <p class="footer-info">Contact me: migueldevelopermaster@gmail.com</p>
            <p class="footer-info">Github: Miguel-Developer-Master</p>

        </footer>

        <script type="module" src="/js/index.js"></script>
    </body>
</html>