<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Task manager</title>
        <link rel="stylesheet" href="/css/index.css">

    </head>
    
    <body>

        <main>
            <section id="start">

                <h1 id="main-message">Task manager</h1>
                <p id="main-support">This website is made for you organize your tasks!</p>

            </section>

            <section id="create-view-task">

                <div id="creating-div">
                    <p id="message" class="creating">New task!</p>
                    <button id="create" class="creating">
                        <svg width="32" height="32" viewBox="0 0 32 32">
                            <circle
                                    cx="16"
                                    cy="16"
                                    r="14"
                                    fill="none"
                                    stroke="black"
                                    stroke-width="2"
                            />

                            <line
                                    x1="16"
                                    y1="10"
                                    x2="16"
                                    y2="22"
                                    stroke="black"
                                    stroke-width="2"
                            />

                            <line
                                    x1="10"
                                    y1="16"
                                    x2="22"
                                    y2="16"
                                    stroke="black"
                                    stroke-width="2"
                            />
                        </svg>
                    </button>
                </div>

            </section>

        </main>

        <footer id="footer">

            <p class="footer-info">Made by: Miguel</p>
            <p class="footer-info">Contact me: migueldevelopermaster@gmail.com</p>
            <p class="footer-info">Github: Miguel-Developer-Master</p>

        </footer>

        <script type="module" src="/js/index.js"></script>
    </body>
</html>